.button {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background-color: inherit;
    transition: All .5s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    background-size: contain;
    cursor: pointer;
}
  
.button:hover {
    opacity: 0.6;
}

.button_type_add {
    background-image: url('/img/add.svg');
}
 
.button_type_done {
    background-image: url('/img/done.svg');
}
  
.button_type_delete {
    background-image: url('/img/delete.svg');
}
  
.button__inactive {
    opacity: 0.3;
  }
  
.button__inactive:hover {
    opacity: 0.3;
}
  
.button_active {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.btn {
    width: 200px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}