.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
}

.header__title {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 900;
    color: #fff;
    margin: 0;
    padding: 0;
}