@keyframes appear{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
.task {
    animation: appear .5s ease-in-out;
    animation-fill-mode: both;
    display: flex;
    border: 1px solid #808080;
    border-radius: 7px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    box-sizing: border-box;
    width: 100%;
}

.task__done {
  order: 1;
}

.task__active {
  background-color: #505050 ;
}

.task__container {
    min-width: 69px;
    display: flex;
    justify-content: space-between;
}
  
.task__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.22;
    color: #fff;
    margin: 0 10px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 75%;
}
  
@media screen and (max-width: 786px) {
    .task__title {
      font-size: 18px;
      line-height: 1.24;
    }
}
  
@media screen and (max-width: 620px) {
    .task__title {
      font-size: 16px;
      line-height: 1.24;
    }
}

.task__title--done {
  text-decoration: line-through;
  color: #CDCDCD;
}
