.todo {
    display: grid;
    justify-content: center;
    grid-template-columns: 55%;
    row-gap: 35px;
    padding: 15px 0 36px;
}
  
  @media screen and (max-width: 620px) {
    .todo {
      grid-template-columns: 80%;
    }
}

.todo__field {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.todo__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    min-height: 65px;
}

.todo__input {
    background-color: inherit;
    display: flex;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: inherit;
    line-height: 1.15;
    font-size: 16px;
    width: 100%;
    padding: 0;
}

.todo__input::placeholder {
    color: #fff;
}
    

  
.todo__input_type_error {
    border-bottom: 1px solid rgb(168, 8, 8);
}

.todo__input-error {
    padding-top: 5px;
    font-family: inherit;
    color: rgb(168, 8, 8);
    height: 39px;
    display: none;
    max-width: 100%;  
    font-size: 13px;
    font-weight: 400;
    line-height: 1.18;
}

.todo__input-error_active {
    display: flex;
}